@import url('https://fonts.googleapis.com/css2?family=Hepta+Slab:wght@1..900&family=Kanit:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,300;1,500;1,600;1,700;1,800;1,900&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: #87fff562;
}

.navbar-brand {
 color: black !important;
 font-family: "Poppins", sans-serif;
 font-weight: 600 !important;
 font-size: 30px !important; 
}

.nav-link {
  color: black !important;
  font-family: "Poppins", sans-serif;
  font-weight: 500 !important;
  font-size: 18px !important; 
}

#basic-navbar-nav{
  text-align: center;
  align-items: center;
  justify-content: space-around;
  justify-items: center;
}

.nav-link.active {
  color: #251b1b !important;
}

/* home */

#home {
  width: 100%;
  height: 100vh;
  background-size: cover;
}
#home .carousel {
  width: 100%;
}
#home .carousel-item{
  width: 100%;
  height: 100vh;
}

#home .carousel-item img {
  width: 100%; 
  height: 100vh;
  transform: scale(1);
  filter: blur(4px);
}
#home .carousel-item.active img {
  transform: scale(1);
}
#home .carousel-caption {
  margin-bottom: 15% ;
}
#home .carousel-caption h1 {
  letter-spacing: 1px ;
  font-family: "Poppins", sans-serif;
  font-weight: 700 ;
  font-size: 45px ; 
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  text-shadow: 2px 1px 3px rgb(0, 0, 0),
  2px 2px 3px  rgb(0, 0, 0) ;
}
      

#home .carousel-caption h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 35px ; 
  letter-spacing: 1px;
  font-weight: 600;
  color: #ffffff ;
  text-shadow: 2px 1px 3px rgb(0, 0, 0),
  2px 2px 3px  rgb(0, 0, 0);
}

#home .carousel-caption p {
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 300;
  font-family: 'Hepta+Slab'; 
  color: #ffffff;
  text-shadow: 1px 1px 2px rgb(0, 0, 0),
  1px 2px 2px  rgb(0, 0, 0);
}

.carousel-control-prev,
.carousel-control-next {
  font-size: 2rem; 
}

.carousel-control-prev {
  width: 100px;
}

.carousel-control-next {
width: 100px;
}
.animated-caption {
  animation: myAnim 2s ease 0s 1 normal forwards;
}
@keyframes myAnim {
	0% {
		animation-timing-function: ease-in;
		opacity: 0;
		transform: translateY(-250px);
	}

	38% {
		animation-timing-function: ease-out;
		opacity: 1;
		transform: translateY(0);
	}

	55% {
		animation-timing-function: ease-in;
		transform: translateY(-65px);
	}

	72% {
		animation-timing-function: ease-out;
		transform: translateY(0);
	}

	81% {
		animation-timing-function: ease-in;
		transform: translateY(-28px);
	}

	90% {
		animation-timing-function: ease-out;
		transform: translateY(0);
	}

	95% {
		animation-timing-function: ease-in;
		transform: translateY(-8px);
	}

	100% {
		animation-timing-function: ease-out;
		transform: translateY(0);
	}
}


/* about */
#about{
  max-width: 100%;
  min-height: 100vh;
  background-color: rgba(165, 255, 255, 0.443);
  margin: 0 auto;
}
#about .row{
  max-width: 100%;
  min-height: 100vh;
  margin: 0 auto ;
}

#about .row .col{
  width: 45%;
  height: 80%;
}
#about .row .col h3{
  font-weight: 600;
  font-size: 30px; 
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
}
#about .row .col h1{
  font-weight: 700;
  font-size: 40px; 
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
}
#about .row .col h2{
  font-weight: 600;
  font-size: 45px; 
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
}
#about .row .col p{
  font-weight: 400;
  font-size: 20px; 
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
}
#about .row .col img{
  width: 100%;
  height: 500px;
  border-radius: 50px;
  margin-top: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0);
}


/* Product.css */

.product-container {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  overflow-x: hidden;
  background-color: rgb(210, 243, 255);
}

h1 {
  font-size: 24px;
  text-align: center;
  padding: 30px 0 30px 0;
}

.slider-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.card {
  width: 75% !important; 
  height: 100%; 
  margin-left: 50px !important;
  text-align: center !important;
  box-shadow: 0 0 10px rgba(0, 0, 0);
  margin: 50px ;
}

.card-img-top {
  height: 150px;
  width: 200px !important; 
  object-fit: cover; 
  margin: auto;
  margin-top: 20px !important;
  margin-bottom: 20px !important;
  box-shadow: 0 0 10px rgba(0, 0, 0);
  border-radius: 5px !important;
}

.prev-button,
.next-button {
  background-color: #ffffff !important;
  color: #000000 !important;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.prev-button:hover,
.next-button:hover {
  background-color: #cbf3f1 !important;
}

#contact{
  max-width: 100%;
  min-height: 100vh;
  background-color: rgb(220, 252, 252);
  text-align: center;
}

#contact h3 {
  font-size: 24px;
  padding-bottom: 20px;
  padding-top: 20px;
}

#contact h1 {
  font-size: 36px;
  padding-bottom: 30px;
}

#contact iframe {
  width: 80%;
  height:600px;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0);
  border-radius: 8px;
  margin-bottom: 100px;
}
footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
  background-color: #000000; 
  color: #fff;
}

.footer-column {
  flex: 1;
  margin: 0 10px;
}

@media (max-width: 1400px) {
  .navbar-brand {
    color: black;
    font-family: "Poppins", sans-serif;
    font-weight: 600 !important;
    font-size: 30px !important; 
   }
   
   .nav-link {
     color: black !important;
     font-family: "Poppins", sans-serif;
     font-weight: 500 !important;
     font-size: 18px !important; 
   }
   
}
@media (max-width: 1200px) {
  .navbar-brand {
    color: black;
    font-family: "Poppins", sans-serif;
    font-weight: 600 !important;
    font-size: 30px !important; 
   }
   
   .nav-link {
     color: black !important;
     font-family: "Poppins", sans-serif;
     font-weight: 500 !important;
     font-size: 18px !important; 
   }

   #home .carousel-caption h1 {
    letter-spacing: 1px ;
    font-family: "Poppins", sans-serif;
    font-weight: 700 ;
    font-size: 45px ; 
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    text-shadow: 2px 1px 3px rgb(0, 0, 0),
    2px 2px 3px  rgb(0, 0, 0) ;
  }
        
  
  #home .carousel-caption h3 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 35px ; 
    letter-spacing: 1px;
    font-weight: 600;
    color: #ffffff ;
    text-shadow: 2px 1px 3px rgb(0, 0, 0),
    2px 2px 3px  rgb(0, 0, 0);
  }
  
  #home .carousel-caption p {
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 300;
    font-family: 'Hepta+Slab'; 
    color: #ffffff;
    text-shadow: 1px 1px 2px rgb(0, 0, 0),
    1px 2px 2px  rgb(0, 0, 0);
  }
  
   
}
@media (max-width: 950px) {
  .navbar-brand {
    color: black;
    font-family: "Poppins", sans-serif;
    font-weight: 600 !important;
    font-size: 30px !important; 
   }
   
   .nav-link {
     color: black !important;
     font-family: "Poppins", sans-serif;
     font-weight: 500 !important;
     font-size: 18px !important; 
   }

   #home .carousel-caption h1 {
    letter-spacing: 1px ;
    font-family: "Poppins", sans-serif;
    font-weight: 700 ;
    font-size: 45px ; 
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    text-shadow: 2px 1px 3px rgb(0, 0, 0),
    2px 2px 3px  rgb(0, 0, 0) ;
  }
        
  
  #home .carousel-caption h3 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 35px ; 
    letter-spacing: 1px;
    font-weight: 600;
    color: #ffffff ;
    text-shadow: 2px 1px 3px rgb(0, 0, 0),
    2px 2px 3px  rgb(0, 0, 0);
  }
  
  #home .carousel-caption p {
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 300;
    font-family: 'Hepta+Slab'; 
    color: #ffffff;
    text-shadow: 1px 1px 2px rgb(0, 0, 0),
    1px 2px 2px  rgb(0, 0, 0);
  }
  #about .row .col{
    width: 80%;
    height: 80%;
    margin-left: auto !important;
    margin-right: auto !important;
  }
  #about .row .col h3{
    font-weight: 600;
    font-size: 30px !important; 
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    padding-left: 0px !important;
  }
  #about .row .col h1{
    font-weight: 700;
    font-size: 35px !important; 
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    padding-left: -400px !important;
  }
  #about .row .col h2{
    font-weight: 600;
    font-size: 40px !important; 
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    padding-left: 0px !important;
  }
  #about .row .col p{
    font-weight: 400;
    font-size: 20px !important; 
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    padding-left: 0px !important;
  }
  #about .row .col img{
    width: 100%;
    height: 400px !important;
    border-radius: 50px;
    margin-top: 50px;
  }
  
   
}
@media (max-width: 750px) {
  .navbar-brand {
    color: black;
    font-family: "Poppins", sans-serif;
    font-weight: 600 !important;
    font-size: 25px !important; 
   }
   
   .nav-link {
     color: black !important;
     font-family: "Poppins", sans-serif;
     font-weight: 500 !important;
     font-size: 14px !important; 
   }
   
   #home .carousel-caption h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 600 ;
    font-size: 30px ; 
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    text-shadow: 2px 1px 3px rgb(0, 0, 0),
    2px 2px 3px  rgb(0, 0, 0) ;
  }
        
  
  #home .carousel-caption h3 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 27px !important; 
    letter-spacing: 1px;
    font-weight: 600;
    color: #ffffff ;
    text-shadow: 2px 1px 3px rgb(0, 0, 0),
    2px 2px 3px  rgb(0, 0, 0);
  }
  
  #home .carousel-caption p {
    font-size: 16px !important;
    font-weight: 300;
    font-family: 'Hepta+Slab'; 
    color: #ffffff;
    text-shadow: 1px 1px 2px rgb(0, 0, 0),
    1px 2px 2px  rgb(0, 0, 0);
  }
  #about .row .col{
    width: 80%;
    height: 80%;
    margin-left: auto !important;
    margin-right: auto !important;
  }
  #about .row .col h3{
    font-weight: 600;
    font-size: 25px !important; 
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    padding-left: 0px !important;
  }
  #about .row .col h1{
    font-weight: 700;
    font-size: 30px !important; 
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    padding-left: 0px !important;
  }
  #about .row .col h2{
    font-weight: 600;
    font-size: 35px !important; 
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    padding-left: 0px !important;
  }
  #about .row .col p{
    font-weight: 400;
    font-size: 17px !important; 
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    padding-left: 0px !important;
  }
  #about .row .col img{
    width: 100%;
    height: 400px !important;
    border-radius: 50px;
    margin-top: 50px;
  }
}
@media (max-width: 470px) {
  .navbar-brand {
    color: black;
    font-family: "Poppins", sans-serif;
    font-weight: 600 !important;
    font-size: 25px !important; 
   }
   
   .nav-link {
     color: black !important;
     font-family: "Poppins", sans-serif;
     font-weight: 500 !important;
     font-size: 14px !important; 
   }
   #home .carousel-caption h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 600 ;
    font-size: 28px !important; 
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    text-shadow: 2px 1px 3px rgb(0, 0, 0),
    2px 2px 3px  rgb(0, 0, 0) ;
  }
        
  
  #home .carousel-caption h3 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 25px !important; 
    letter-spacing: 1px;
    font-weight: 600;
    color: #ffffff ;
    text-shadow: 2px 1px 3px rgb(0, 0, 0),
    2px 2px 3px  rgb(0, 0, 0);
  }
  
  #home .carousel-caption p {
    font-size: 14px !important;
    font-weight: 300;
    font-family: 'Hepta+Slab'; 
    color: #ffffff;
    text-shadow: 1px 1px 2px rgb(0, 0, 0),
    1px 2px 2px  rgb(0, 0, 0);
  }

  #about .row .col{
    width: 80%;
    height: 80%;
    margin-left: auto !important;
    margin-right: auto !important;
  }
  #about .row .col h3{
    font-weight: 600;
    font-size: 20px !important; 
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    padding-left: 0px !important;
  }
  #about .row .col h1{
    font-weight: 700;
    font-size: 25px !important; 
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    padding-left: 0px !important;
  }
  #about .row .col h2{
    font-weight: 600;
    font-size: 30px !important; 
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    padding-left: 0px !important;
  }
  #about .row .col p{
    font-weight: 400;
    font-size: 13px !important; 
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    padding-left: 0px !important;
  }
  #about .row .col img{
    width: 100%;
    height: 300px !important;
    border-radius: 50px;
  }
  
}